@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $scroll-color;
  }
}

@mixin placeholder {
  input[placeholder], [placeholder], *[placeholder] {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate($deg); /* IE 9 */
  transform: rotate($deg);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin transition($option) {
  -webkit-transition: $option;
  -moz-transition: $option;
  transition: $option;
}

@mixin width-min-content() {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@mixin width-max-content() {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@mixin small-phone {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

@mixin phone-only {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin before-large-desktop {
  @media (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}
