/* Fonts */
$open-sans-font-path: '/assets/fonts/open-sans';
$pacifico-font-path: '/assets/pacifico';
$rammetto-one-font-path: '/assets/rammetto-one';

/* Breakpoints */
$phone-width: 544px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$b-extra-small: 576px;
